.container {
	display: flex;
	box-sizing: border-box;
}

/* HEADER */
.main-container {
	flex-grow: 1;
	padding: 8px 10px 10px 10px;
	margin-left: 25rem;
}

.header__navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 7px 0.5rem;
	margin: 0 auto;
	border-radius: 8px 8px 0 0;
	background-color: #090909;
	box-sizing: border-box;
	transition: background-color 0.3s ease;
}

.scrolled {
	background-color: #121212;
}

.header__navigation .navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header__navigation .navigation .arrow-left {
	margin-right: 0.4rem;
}

.arrow-left,
.arrow-right {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
	background: var(--bg-icon);
	background-color: rgba(0, 0, 0, 0.7);
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.header__login {
	display: flex;
	align-items: center;
}

.header__search {
	display: flex;
	align-items: center;
	width: 22.2rem;
	height: 48px;
	margin-left: 0.5rem;
	background-color: #2a2a2a;
	border-radius: 500px;
	border: 1px solid transparent;
}

.header__search img {
	width: 16px;
	height: 16px;
	margin-left: 10px;
}

.header__search input {
	background: transparent;
	border: none;
	padding: 0 0 0 0.6rem;
	color: #fff;
	text-overflow: ellipsis;
	outline: none;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
	box-sizing: border-box;
}

.header__login .subscribe {
	color: var(--text-sub);
	font-size: 1rem;
	font-weight: 700;
	background-color: transparent;
	padding: 1rem 1rem 1rem 0.3rem;
	font-family: var(--font-dm-sans);
}

.header__login .login {
	width: 100%;
	height: 48px;
	color: var(--text-base-dark);
	font-size: 1rem;
	font-weight: 700;
	border-radius: 40px;
	padding: 0.8rem 2rem;
	font-family: var(--font-dm-sans);
	white-space: nowrap;
}

/* HOVER */

.header__search:hover {
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.2);
}

.header__login .subscribe:hover {
	transform: scale(1.04);
	color: var(--text-base-light);
}

.header__login .login:hover {
	transform: scale(1.04);
}
/* FIM HOVER */

/*FIM HEADER */

/* PLAYLIST */
.playlist-container {
	width: auto;
	height: 50.5rem;
	padding-top: 16px;
	border-radius: 0 0 10px 10px;
	background-color: #121212;
	overflow-y: scroll;
}

.playlist {
	padding: 1rem;
}

.playlist #greeting {
	color: var(--text-base-light);
	font-size: 1.8rem;
	font-weight: 700;
	margin-bottom: 2rem;
}

.playlist .session {
	color: var(--text-base-light);
	font-size: 1.3rem;
	font-weight: 700;
}

/* SCROLL */
.offer__scroll-container {
	flex-grow: 1;
	padding: 0rem 0 1.7rem 0;
}

.offer__list {
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
	gap: 0.8rem;
	overflow: hidden;
}

/* POSITION */

.cards {
	position: relative;
	width: 12rem;
	height: 12rem;
	overflow: hidden;
	border-radius: 8px;
}

.cards span {
	padding: 16px;
	position: absolute;
	color: var(--text-base-light);
	font-size: 1.1rem;
	font-weight: 700;
}

/* COLOR CARDS */
.card1 {
	background-color: rgb(0, 100, 80);
}
.card2 {
	background-color: rgb(132, 0, 231);
}
.card3 {
	background: rgb(30, 50, 100);
}
.card4 {
	background: rgb(140, 25, 50);
}
.card5 {
	background: rgb(232, 17, 91);
}
.card6 {
	background: rgb(83, 122, 161);
}
.card7 {
	background: rgb(142, 102, 172);
}
.card8 {
	background: rgb(20, 138, 8);
}
.card9 {
	background: rgb(30, 50, 100);
}
.card10 {
	background: rgb(233, 20, 41);
}
.card11 {
	background: rgb(80, 55, 80);
}
.card12 {
	background: rgb(216, 64, 0);
}
.card13 {
	background: rgb(186, 93, 7);
}
.card14 {
	background: rgb(0, 30, 80);
}
.card15 {
	background: rgb(60, 30, 80);
}
/* FIM COLOR CARDS */

.offer__list img {
	position: absolute;
	right: 0;
	bottom: 0;
	height: auto;
	width: 107px;
	transform: rotate(25deg) translate(18%, -2%);
}

/* CARD ARTISTA */

.result-artist__container {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
	max-width: 100%;
	min-height: 20rem;
	position: relative;
	padding: 1rem 1rem;
}

.artist {
	--column-count: 7;
	--grid-gap: 1rem;
	--min-container-width: 23rem;
}

.hidden {
	display: none;
}

.grid-container {
	gap: var(--grid-gap);
	display: grid;
	grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
	min-width: var(--min-container-width);
	height: 100%;
}

.artist-card {
	background: #181818;
	border-radius: 8px;
	isolation: isolate;
	overflow: hidden;
	position: relative;
	transition: background-color 0.3s ease;
	width: 12rem;
	text-align: center;
}

.artist-card:hover {
	background-color: #252525;
	cursor: pointer;
}

.artist-img {
	width: 80%;
	max-width: 16rem;
	height: auto;
	border-radius: 100%;
	margin-top: 1rem;
	margin-left: 5%;
	margin-right: 5%;
}

.card-text {
	padding: 1rem;
	color: #fff;
	text-align: start;
}

.card-img {
	padding-bottom: 100%;
	position: relative;
	width: 100%;
	margin-bottom: 1rem;
}

.card-img-artist {
	position: relative;
	width: auto;
}

.card-text {
	display: flex;
	flex-direction: column;
	color: #fff;
	text-overflow: ellipsis;
	white-space: normal;
	min-height: 62px;
}

.card-text a {
	display: inline-block;
	max-width: 100%;
	vertical-align: middle;
}

.artist-title {
	font-size: 1.5rem;
	color: #fff;
	margin-bottom: 1rem;
}

.artist-name {
	box-sizing: border-box;
	margin-block: 0px;
	font-size: 1.1rem;
	font-weight: 700;
	padding-block-end: 8px;
}

.artist-categorie {
	color: #6a6a6a;
	font-weight: 400;
	font-size: 1rem;
}

.artist-genre {
	color: #1db954;
	font-weight: 400;
	font-size: 0.8rem;
	margin-top: 5px;
}

.play {
	position: absolute;
	right: 20px;
	top: 145px;
	padding: 1rem;
	background-color: #1db954;
	border-radius: 100%;
	font-size: 1rem;
	opacity: 0;
	transition: all ease 0.4s;
}

.artist-card:hover .play {
	opacity: 1;
	transform: translateY(-40px);
	padding: 1.2rem;
	cursor: pointer;
}

.play:hover .fa-play {
	font-size: 1.1rem;
}

.error-message {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	text-align: center;
	padding: 8rem 1rem 2rem 1rem;
}

.error-message h4 {
	color: #fff;
	font-size: 1.2rem;
	padding: 1rem;
	line-height: 1.5rem;
}

.error-message p {
	color: #fff;
	font-size: 1rem;
	padding: 1rem;
	line-height: 1.5;
}

.site-footer {
	background-color: #121212;
	width: auto;
	min-height: 8rem;
	margin-top: 1.5rem;
}

.site-footer-container {
	display: flex;
	justify-content: space-between;
}

.footer-column__left {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: auto;
	padding: 1rem 0rem 1rem 1rem;
}

.footer-column__right {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	padding: 1rem 1rem 1rem 0rem;
}

.footer-text {
	background-color: #121212;
	padding: 1rem;
	margin-right: 4.5rem;
	text-align: center;
	color: #fff;
	text-align: start;
}

.footer-text p {
	margin-block: 0px;
	font-weight: 700;
	font-size: 1rem;
	font-family: var(--font-dm-sans);
	padding-bottom: 1rem;
}

.footer-list {
	box-sizing: border-box;
	padding-inline: 0px;
	margin-block: 0px;
	overflow-wrap: break-word;
	list-style-type: none;
}

.footer-list-item {
	box-sizing: border-box;
	margin-block: 0px;
	font-size: 1rem;
	font-weight: 400;
	font-family: var(--font-dm-sans);
	padding-block-end: 8px;
	color: inherit;
}

.footer-list-item a {
	width: fit-content;
	display: block;
	color: #b3b3b3;
	box-sizing: border-box;
	font-weight: 400;
	font-size: 0.95rem;
	padding-bottom: 0.5rem;
	white-space: nowrap;
}

.footer-list-item a:hover {
	color: #fff;
	cursor: pointer;
	text-decoration: underline;
}

.footer-button {
	background-color: #242424;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 16px;
}

.footer-button:hover {
	background-color: #878787;
}

.footer-icon {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.second-footer {
	padding: 1rem 1rem 2.5rem 1rem;
}

.line-separator {
	border-top: 1px solid #2a2a2a;
}

.copyright {
	color: #b3b3b3;
	font-size: 0.8rem;
	font-weight: 400;
	padding: 3rem 0rem 1rem 0rem;
}

.copyright a {
	text-decoration: none;
	color: #b3b3b3;
	font-weight: 600;
}
