@media screen and (min-width: 1140px) and (max-width: 1680px) and (max-height: 900px) {
	.container-playlist {
		margin-bottom: 0.2rem;
	}

	.section-playlist__content .text {
		padding-bottom: 0.2rem;
	}

	.library {
		padding-bottom: 0rem;
		height: 30.2rem;
	}

	.library__content {
		padding-bottom: 0rem;
	}

	.footer-links {
		padding-bottom: 0.2rem;
		padding-top: 0rem;
	}

	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(7.8rem, 1fr));
	}

	.cards {
		width: 8.8rem;
		height: 8.8rem;
	}

	.playlist-container {
		height: 36rem;
	}

	.site-footer {
		min-height: 10rem;
		padding: 0rem 1rem;
	}
}

@media screen and (min-width: 1195px) and (max-width: 1336px) {
	.footer-text {
		padding: 1rem;
		margin-right: 1.8rem;
	}
}

@media screen and (min-width: 1140px) and (max-width: 1195px) {
	.footer-text {
		padding: 1rem;
		margin-right: auto;
	}
}

@media screen and (min-width: 1100px) and (max-width: 1140px) {
	.header__search {
		width: 19rem;
	}

	.footer-text {
		padding: 1rem;
		margin-right: auto;
	}
}

@media screen and (min-width: 1071px) and (max-width: 1100px) {
	.header__search {
		width: 17rem;
	}

	.footer-text {
		padding: 1rem;
		margin-right: auto;
	}
}

@media screen and (min-width: 1020px) and (max-width: 1071px) {
	.header__search {
		width: 15rem;
	}

	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
	}

	.cards {
		width: 11.45rem;
		height: 11.45rem;
	}
}

@media screen and (min-width: 1000px) and (max-width: 1020px) {
	.header__search {
		width: 12.2rem;
	}

	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	}

	.cards {
		width: 10.8rem;
		height: 10.8rem;
	}
}

@media screen and (min-width: 935px) and (max-width: 1000px) {
	.header__search {
		width: 9.5rem;
	}

	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
	}

	.cards {
		width: 9.7rem;
		height: 9.7rem;
	}
}

@media screen and (min-width: 889px) and (max-width: 935px) {
	.header__search {
		width: 6.8rem;
	}

	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
	}

	.cards {
		width: 8.5rem;
		height: 8.5rem;
	}
}

@media screen and (min-width: 866px) and (max-width: 889px) {
	.header__search {
		width: 5rem;
	}
	.footer-text {
		padding: 1rem;
		margin-right: auto;
	}
}

@media screen and (min-width: 800px) and (max-width: 960px) {
	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}

	.cards {
		width: 11.6rem;
		height: 11.6rem;
	}

	.header__login .login {
		font-size: 1rem;
		padding: 0.8rem 1.2rem;
	}

	.arrow-right {
		display: none;
		margin-right: 0.2rem;
	}

	.header__search {
		width: 5rem;
		box-sizing: border-box;
	}

	.header__search input {
		width: 5rem;
	}

	.header__search input::placeholder {
		opacity: 0;
	}

	.sidebar {
		width: 19.5rem;
	}

	.section-playlist {
		margin-top: 0;
	}

	.main-container {
		margin-left: 20rem;
	}

	.footer-text {
		padding: 1rem;
		margin-right: auto;
	}

	.container-playlist {
		margin-bottom: 3rem;
	}

	.playlist-container {
		height: 58rem;
	}

	.library {
		height: 52rem;
	}
}

@media screen and (min-width: 768px) and (max-width: 800px) {
	.offer__list {
		grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
	}

	.cards {
		width: 11.6rem;
		height: 11.6rem;
	}

	.header__login .login {
		font-size: 1rem;
		padding: 0.8rem 1.2rem;
	}

	.arrow-right {
		display: none;
		margin-right: 0.2rem;
	}

	.header__search {
		width: 5rem;
		box-sizing: border-box;
	}

	.header__search input {
		width: 5rem;
	}

	.header__search input::placeholder {
		opacity: 0;
	}

	.sidebar {
		width: 19.5rem;
	}

	.section-playlist {
		margin-top: 0;
	}

	.main-container {
		margin-left: 20rem;
	}

	.footer-text {
		padding: 1rem;
		margin-right: auto;
	}

	.container-playlist {
		margin-bottom: 3rem;
	}

	.playlist-container {
		height: 53rem;
	}

	.library {
		height: 47rem;
	}
}
