body {
	background-color: #000;
	color: white;
	margin: 0;
	overflow: hidden;
}

/* Pantallas Pequeñas no Compatibles*/
.screen {
	width: auto;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #121212;
	font-family: var(--font-dm-sans);
	padding: 1.5rem;
}

.screen__logo {
	width: 60px;
	height: 60px;
}

.screen__content {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.screen__title {
	font-size: 2.4rem;
	font-weight: 700;
	letter-spacing: -0.04em;
	line-height: 2rem;
	margin: 40px 0 16px;
	color: #fff;
	font-family: var(--font-dm-sans);
	text-align: center;
}

.screen__message {
	color: #a7a7a7;
	display: inline-block;
	font-weight: 400;
	font-size: 1rem;
	margin: 0 0 2rem;
	max-width: 407px;
	font-family: var(--font-dm-sans);
	text-align: center;
	line-height: 1rem;
}

.screen__button {
	display: inline-block;
	background: #fff;
	border: 1px solid #878787;
	border-radius: 48px;
	color: #000;
	display: inline-block;
	line-height: 1.2rem;
	margin-bottom: 1.2rem;
	padding: 12px 32px;
	text-align: center;
	white-space: nowrap;
	text-decoration: none;
	font-weight: 600;
}

.screen__button:hover {
	border-color: #000;
	text-decoration: none;
	transform: scale(1.04);
}

.screen__info {
	color: #fff;
	text-decoration: none;
	font-size: 0.9rem;
}

.screen__info:hover {
	text-decoration: underline;
	cursor: pointer;
}

/* Fin de Pantallas No Compatibles*/

.grid {
	display: grid;
	grid-template-columns: 25% 75%;
	grid-template-rows: auto auto;
}

.sidebar {
	background-color: #000;
	margin: 0;
	overflow: hidden;
}

.main {
	background-color: #000;
	margin: 0;
	padding: 0 0 0.5rem 0;
}

footer {
	grid-column-start: 1;
	grid-column-end: 3;
}

.grid > * {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 0 0.5rem;
}
.sidebar .logo img {
	width: 80px;
	margin-left: 1.5rem;
}

.menu {
	background-color: #121212;
	width: 100%;
	margin: 0.5rem 0 0 0;
	border-radius: 10px;
	padding: 1rem 0;
}

.menu-item {
	display: flex;
	align-items: center;
	padding: 10px;
	margin-left: 1rem;
	color: #b3b3b3;
	font-weight: 600;
}

.menu-icon {
	width: 20px;
	margin-right: 10px;
}

.menu-text {
	font-size: 1rem;
}

.menu-item:hover {
	color: #ffffff;
	cursor: pointer;
}

.sidebar .active {
	font-size: 1rem;
	color: #fff;
}

.library {
	background-color: #121212;
	width: 100%;
	margin: 0.5rem 0;
	border-radius: 10px;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.library__content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 1rem;
}

.library__button {
	display: flex;
	align-items: center;
	background-color: transparent;
	border: none;
	color: #fff;
	font-size: 1rem;
	font-weight: 800;
	font-family: "DM Sans", sans-serif;
	padding: 0 10px;
	white-space: nowrap;
}

.library__button .fa {
	margin-right: 1rem;
}

.info-item {
	padding: 1.1rem;
	margin: 0 0.4rem 1rem 0.4rem;
	display: flex;
	flex-direction: column;
	background-color: #242424;
	border-radius: 8px;
}

.info-text {
	font-size: 1rem;
	margin-bottom: 1rem;
	font-weight: 700;
}

.info-sub-text {
	font-weight: 500;
	font-size: 0.9rem;
	margin-bottom: 1rem;
}

.info-button {
	background-color: white;
	color: #000000;
	font-size: 0.8rem;
	font-weight: 600;
	padding: 0.4rem 1rem;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
	display: inline-block;
	align-self: flex-start;
	font-family: "DM Sans", sans-serif;
	box-sizing: border-box;
}

.info-button:hover {
	transform: scale(1.04);
}

.aside-footer {
	display: flex;
	flex-direction: column;
	justify-content: end;
	flex-grow: 1;
}

.footer-links {
	display: flex;
	flex-wrap: wrap;
	padding: 0rem;
	margin: 1rem;
}

.sidebar .footer-link {
	margin: 5px;
}

.sidebar .footer-link a {
	color: #b3b3b3;
	font-weight: 500;
	text-decoration: none;
	font-size: 0.7rem;
}

.sidebar .footer-link a:hover {
	text-decoration: underline;
}

.languages {
	margin: 1rem;
	padding-bottom: 2rem;
}

.languages .languages__button {
	background-color: transparent;
	border-radius: 9999px;
	border: 1px solid #878787;
	color: #fff;
	cursor: pointer;
	align-items: center;
	padding: 8px;
	width: 170px;
	font-weight: bold;
	white-space: nowrap;
}

.languages .languages__button:hover {
	transform: scale(1.04);
	border-color: #fff;
}

.disclaimer-premium {
	background: linear-gradient(to right, #ae2896, #509bf5);
	display: flex;
	justify-content: space-between;
	font-family: "DM Sans", sans-serif;
	align-content: stretch;
	padding: 0 0.5rem;
	overflow: hidden;
}
.disclaimer-premium .text {
	word-wrap: break-word;
	margin-right: 1rem;
	overflow: hidden;
	padding-top: 0;
	margin-bottom: 0.5rem;
}
.disclaimer-premium .disclaimer-premium__title {
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 0.5rem;
}

.disclaimer-premium .disclaimer-premium__subtitle {
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 500;
	flex-shrink: 1;
}

.disclaimer-premium button {
	background-color: #ffffff;
	color: #000000;
	font-size: 1rem;
	font-weight: bold;
	padding: 0.8rem 1rem;
	border: 0px;
	border-radius: 40px;
	cursor: pointer;
	font-family: var(--font-dm-sans);
	white-space: nowrap;
}

.disclaimer-premium button:hover {
	transform: scale(1.04);
}
